/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/docker/
.idea/Telenet.iml
.idea/php.xml
dist/asset
/public/assets/dist/
.idea/
nginx
php-fpm
docker
node_modules
/public/dist_admin
/public/template_admin
php
docker-compose.yml
.editorconfig
storage/framework/laravel-excel/
