.form-action {
    justify-content: center
}

.button-action {
    padding-right: 5px
}

#map {
    width:100%;
    height:400px;
}

.button-submit-place a {
    color: #FFFFFF;
}

.space-input {
    padding: 0;
    line-height: 30px;
    text-align: center;
}

.button-status-place {
    width: 70px;
}

.button-custom-place {
    border: 1px solid rgb(22, 155, 213);
    left: 522px;
    top: 468px;
    width: 120px;
    align-content: center;
    color: black;
    background: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
